@charset "utf-8";
/*
* 파일명   : web.css
* 작성자   : 신세연
* 작성일   : 2015.01.14
 */
/* for print */
@media print {
    body {background-image:none !important;background-color:#FFFFFF !important}
    h1,h2,h3,h4,h5,h6{page-break-after:avoid;page-break-inside:avoid}
    blockquote,pre{page-break-inside:avoid}
    ul,ol,dl{page-break-before:avoid}
}

/*Reset*/
html{}
body{margin:0px;padding:0px;font-size:12px;line-height:1.2;letter-spacing:0;}/* 2014-06-13 폰트스타일 변경 */
div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,fieldset,p{margin:0;padding:0;font-size:12px;line-height:18px;color:#666;list-style:none}
fieldset,dl,dd,dt,img{border:0;vertical-align:top;}
address,em{font-style:normal}
hr,legend,caption{display:none}
table{border-collapse:collapse}

.flCont{float:left;}
.frCont{float:right;}
.clearfix{zoom:1}
.clearfix:after{content:"";display:block;clear:both;}
.blind{display:inline;font-size:0;line-height:0;text-indent:-9999px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt45{margin-top:45px;}
.mt75{margin-top:75px;}
.mt85{margin-top:85px;}

/*skipNavigation 정의*/
.skip_nav{overflow:hidden;width:0;height:0;white-space:nowrap;}
.skip_nav a{display:inline;font-size:0;line-height:0;text-indent:-9999px;}

/*layout*/
.wrapper{width:100%;min-width:1200px;}
#header{z-index:100;position:fixed;top:0;left:0;width:100%;height:60px;background-color:#fff;}
#header.etc{background:none;}
.header{width:980px;margin:0 auto; overflow:hidden}
.header h1{float:left;padding:15px 0 17px;}
.header h1 a{display:block;}
.header .gnb{float:right;padding-top:20px;background-image:url(//image.bshopping.co.kr/webMain/ico_web.png);background-repeat:no-repeat;background-position:right -16px;}
.header .gnb ul{overflow:hidden;}
.header .gnb ul li{float:left;}
.header .gnb ul li a{display:block;padding:0 19px 2px;color:#333;font-size:14px;font-weight:bold;cursor:pointer;text-decoration:none;background-image:url(//image.bshopping.co.kr/webMain/ico_web.png);background-repeat:no-repeat;background-position:0 -36px;}
.header .gnb ul li a.active{color:#e0002a;}
.container{z-index:1;position:relative;width:100%;min-height:740px;}
#container{width:100%;margin:auto;}
#footer{width:100%;background:#848484; height:94px}
.footer{width:980px;margin:auto;}
.footer .ft_logo{float:left;padding:23px 0 25px;}
.footer .ft_logo a{display:block;cursor:default;}
.footer .ft_privacy{float:right;padding:18px 0 0 0}
.footer .ft_privacy a{color:#f4f4f4; font-size:12px; text-decoration:none; margin-left:7px;}
.footer .ft_privacy a.privacy{color:#ffc342;}
.footer .ft_address{float:left;padding:18px 0 22px 80px;}
.footer .ft_address p{color:#f4f4f4;font-size:12px;}
.footer .ft_address a{color:#f4f4f4; text-decoration:none}
.footer .ft_address a:hover{text-decoration:underline}
.footer .ft_customer{float:left;padding:18px 0 21px 33px;}
.footer .ft_customer p{margin-bottom:4px;color:#f4f4f4;font-size:12px;}

/*indicator*/
.indicator{z-index:100;position:fixed;top:50%;right:10px;margin-top:-192px;}
.indicator a{display:block;width:16px;height:17px;margin:24px;cursor:pointer;background-image:url(//image.bshopping.co.kr/webMain/ico_web.png);background-repeat:no-repeat;background-position:-76px 0;}
.indicator a span{display:none;font-size:0;line-height:0;text-indent:-9999px;}
.indicator a.active{background-position:-102px 0;}

/*contents*/
.slidePage{position:relative; z-index:10; width:100%;}
.slidePage .page{position:relative;width:100%;min-height:740px;background-size:auto 100%;}
.slidePage .centerZone{position:relative;width:980px; margin:auto;}
.slidePage .whiteZone{position:relative;width:100%;height:480px;padding-top:50px;background:url(//image.bshopping.co.kr/webMain/bg_blur.png) repeat;}
.slidePage .slogan{width:980px;text-align:center;margin:0 auto;}
.slidePage .contents{width:100%;position:absolute;left:0;top:50%;margin-top:-265px}

/*서비스소개*/
.service1{background:url(//image.bshopping.co.kr/webMain/bg_service1.jpg) no-repeat right 0;}
.service1 .contents{margin-top:-325px}
.service1 .whiteZone{height:660px;}
.service1 .whiteZone h2{padding-bottom:20px;text-align:center;}
.service1 .whiteZone h3{padding-bottom:65px;text-align:center;}
.service1 .whiteZone .txt{position:absolute;left:600px;top:180px}
.service1 .tv_channel{position:relative;width:837px;height:418px;background:url(//image.bshopping.co.kr/webMain/service1_img1.png) no-repeat 0 0}
.service1 .tv_channel ul{position:absolute;left:91px;top:98px;width:376px;height:220px;}
.service1 .tv_channel a{display:block;cursor:pointer;}
.service1 .tv_channel a.on{display:none;}
.service1 .tv_channel .ch1 > a{position:absolute;left:142px;top:-12px;}
.service1 .tv_channel .ch2 > a{position:absolute;left:261px;top:27px;}
.service1 .tv_channel .ch3 > a{position:absolute;left:278px;top:87px;}
.service1 .tv_channel .ch4 > a{position:absolute;left:262px;top:137px;}
.service1 .tv_channel .ch5 > a{position:absolute;left:210px;top:184px;}
.service1 .tv_channel .ch6 > a{position:absolute;left:64px;top:189px;}
.service1 .tv_channel .ch7 > a{position:absolute;left:7px;top:141px;}
.service1 .tv_channel .ch8 > a{position:absolute;left:-6px;top:77px;}
.service1 .tv_channel .ch9 > a{position:absolute;left:41px;top:38px;}
.service1 .tv_channel .ch_num{display:none;position:absolute;left:150px;top:64px;}
/* .service1 .tv_channel .ch1 .ch_num{display:block;} */
.service1 .tv_channel .coming{padding:404px 0 0 112px;}

.service2{background:url(//image.bshopping.co.kr/webMain/bg_service2.jpg) no-repeat right 0;}
.service2 .whiteZone{height:500px;padding-top:30px;}
.service2 .whiteZone .phone{margin-left:80px;}
.service2 .whiteZone .txt{position:absolute;top:0;left:348px;}

.service3{background:url(//image.bshopping.co.kr/webMain/bg_service3.jpg) no-repeat right 0;}
.service3 .slidePage .whiteZone{height:490px;padding-top:40px;}
.service3 .whiteZone .centerZone > h3{text-align:center;}
.service3 .whiteZone .centerZone > p{text-align:center;}
.service3 .whiteZone .channel{position:relative;margin-top:80px;}
.service3 .whiteZone .channel .slick-list{margin:0 100px;}
.service3 .whiteZone .channel li{text-align:center;}
.service3 .whiteZone .channel .slick-prev{display:block;position:absolute;left:70px;top:18px;width:17px;height:26px;background:url(//image.bshopping.co.kr/webMain/btn_prev.png) no-repeat 0 0;text-indent:-9999em;overflow:hidden;}
.service3 .whiteZone .channel .slick-next{display:block;position:absolute;right:70px;top:18px;width:17px;height:26px;background:url(//image.bshopping.co.kr/webMain/btn_next.png) no-repeat 0 0;text-indent:-9999em;overflow:hidden;}

.service4{background:url(//image.bshopping.co.kr/webMain/bg_service4.jpg) no-repeat right 0;}

.service5{background:url(//image.bshopping.co.kr/webMain/bg_service5.jpg) no-repeat right 0;}

/*제휴안내*/
.partner1{background:url(//image.bshopping.co.kr/webMain/bg_partner1.jpg) no-repeat right 0;}
.partner2{background:url(//image.bshopping.co.kr/webMain/bg_partner2.jpg) no-repeat right 0;}
.partner3{background:url(//image.bshopping.co.kr/webMain/bg_partner3.jpg) no-repeat right 0;}
.partner4{background:url(//image.bshopping.co.kr/webMain/bg_store6.jpg) no-repeat right 0;} /* 2017-08-28 입점안내 섹션 추가 */
.partner1 .whiteZone{height:500px;padding-top:30px;}
.partner2 .whiteZone{height:455px;padding-top:75px;}
.partner3 .whiteZone{height:455px;padding-top:75px;}
.partner4 .whiteZone{height:530px;} /* 2017-08-28 입점안내 섹션 추가 */
.partner .whiteZone .centerZone{position:relative;}
.partner .whiteZone .centerZone .btn_download{position:absolute;right:35px;top:0;}
.partner .whiteZone .centerZone .goods{ margin-bottom:60px;}
.partner .whiteZone .centerZone .channel{text-align:left;}
.partner .whiteZone .centerZone .imgCateWrap{position:absolute;right:20px;top:200px;}
.partner .whiteZone .centerZone .imgCate{position:relative;width:277px;height:276px;background-image:url(//image.bshopping.co.kr/webMain/partner_img1.png);background-repeat:no-repeat;background-position:top left;}
.partner .whiteZone .centerZone .imgCate span[class^="cate"]{position:absolute;display:block;}
.partner .whiteZone .centerZone .imgCate .cate1{top:0;left:110px;}
.partner .whiteZone .centerZone .imgCate .cate2{top:18px;left:165px;} 
.partner .whiteZone .centerZone .imgCate .cate3{top:51px;right:30px;}
.partner .whiteZone .centerZone .imgCate .cate4{top:100px;right:20px;}
.partner .whiteZone .centerZone .imgCate .cate5{bottom:95px;right:20px;}
.partner .whiteZone .centerZone .imgCate .cate6{bottom:51px;right:40px;}
.partner .whiteZone .centerZone .imgCate .cate7{bottom:27px;right:85px;}
.partner .whiteZone .centerZone .imgCate .cate8{bottom:10px;left:100px;}
.partner .whiteZone .centerZone .imgCate .cate9{top:210px;left:44px;}
.partner .whiteZone .centerZone .imgCate .cate10{top:167px;left:4px;}
.partner .whiteZone .centerZone .imgCate .cate11{top:110px;left:0px;}
.partner .whiteZone .centerZone .imgCate .cate12{top:58px;left:10px;}
.partner .whiteZone .centerZone .imgCate .cate13{top:18px;left:51px;}
.partner .whiteZone .centerZone .partnerCategory_new { width:620px; margin-top: 20px; }
.partner .whiteZone .centerZone .partnerCategory_new li { float:left; margin: 5px; border: 1px solid #d2d2d2; }


/* 2017-08-28 입점안내 섹션 추가 */
.partner .whiteZone .centerZone .process_tab {position:relative;width:955px;margin-top:20px;}
.partner .whiteZone .centerZone .process_tab .tabon .process_cont {display:block;}
.partner .whiteZone .centerZone .process_tab h4 {position:absolute;top:0;width:165px;height:111px;background:url('//image.bshopping.co.kr/webMain/icon_next.png') 136px center no-repeat;}
.partner .whiteZone .centerZone .process_tab .ptab1 h4 {left:75px;}
.partner .whiteZone .centerZone .process_tab .ptab2 h4 {left:250px;}
.partner .whiteZone .centerZone .process_tab .ptab3 h4 {left:423px;}
.partner .whiteZone .centerZone .process_tab .ptab4 h4 {left:597px;}
.partner .whiteZone .centerZone .process_tab .ptab5 h4 {left:770px; background:none;}

.partner .whiteZone .centerZone .process_tab .process_cont {display:none;padding:45px 0 0;}
.partner .whiteZone .centerZone .process_tab .process_cont p.arrow {width:16px;height:15px;background:url('//image.bshopping.co.kr/webMain/arw.png') 0 0 no-repeat;}
.partner .whiteZone .centerZone .process_tab .ptab1 .process_cont p.arrow {margin:73px 0 0 120px;}
.partner .whiteZone .centerZone .process_tab .ptab2 .process_cont p.arrow {margin:73px 0 0 293px;}
.partner .whiteZone .centerZone .process_tab .ptab3 .process_cont p.arrow {margin:73px 0 0 470px;}
.partner .whiteZone .centerZone .process_tab .ptab4 .process_cont p.arrow {margin:73px 0 0 643px;}
.partner .whiteZone .centerZone .process_tab .ptab5 .process_cont p.arrow {margin:73px 0 0 817px;}

.partner .whiteZone .centerZone .process_tab .process_cont .box {margin-top:-1px;border-radius:3px;border:1px solid #eee;background-color:rgba(255,255,255,0.7);text-align:center;}
.partner .whiteZone .centerZone .process_tab .process_cont .box img {padding:20px 0;}

.partner .whiteZone .centerZone .process_btn {padding-top:20px;padding-left:53px;}
.partner .whiteZone .centerZone .process_btn ul li {float:left;margin-left:30px;}
.partner .whiteZone .centerZone .process_btn ul li:first-child {margin-left:0;}
.partner .whiteZone .centerZone .process_btn ul li:last-child {margin-left:20px;}


/* 2017-03-30 디자인 및 레이아웃 변경
.partner .whiteZone .centerZone .partnerCategory li{margin:4px 0 0 10px;}
.partner .whiteZone .centerZone .partnerCategory li:first-child{margin-top:0}
.partner .whiteZone .centerZone .partnerCategory li span{display:inline-block;vertical-align:middle; width:270px;font-size:14px;font-weight:bold;color:#777;}
.partner .whiteZone .centerZone .partnerCategory li .button{font-size:12px;height:23px;line-height:23px;background:#adadad;}
.partner .whiteZone .centerZone .partnerCategory li .p_icon1{display:inline-block; width:41px; height:32px; margin-right:8px; vertical-align:middle; background:url(//image.bshopping.co.kr/webMain/p_cate_img1.png) no-repeat 50% 0;}
.partner .whiteZone .centerZone .partnerCategory li .p_icon2{display:inline-block; width:41px; height:32px; margin-right:8px; vertical-align:middle; background:url(//image.bshopping.co.kr/webMain/p_cate_img2.png) no-repeat 50% 0;}
.partner .whiteZone .centerZone .partnerCategory li .p_icon3{display:inline-block; width:41px; height:32px; margin-right:8px; vertical-align:middle; background:url(//image.bshopping.co.kr/webMain/p_cate_img3.png) no-repeat 50% 0;}
.partner .whiteZone .centerZone .partnerCategory li .p_icon4{display:inline-block; width:41px; height:32px; margin-right:8px; vertical-align:middle; background:url(//image.bshopping.co.kr/webMain/p_cate_img4.png) no-repeat 50% 0;}

.partner .whiteZone .centerZone .light{position:relative; width:134px; height:194px; margin:0 auto;}
.partner .whiteZone .centerZone .light img{position:absolute; left:0; top:0;}
2017-03-30 디자인 및 레이아웃 변경 */

.button{/*overflow:visible;position:relative;*/display:inline-block; height:31px; margin:0; padding:0; color:#fff;font-size:14px; font-weight:bold;text-align:center;vertical-align:middle;white-space:nowrap;cursor:pointer;letter-spacing:-1px;word-spacing:-1px;border:0;background-color:transparent;background-image:url(//image.bshopping.co.kr/webMain/ico_web.png);background-repeat:no-repeat;}
a.button{text-decoration:none; line-height:31px}
button::-moz-focus-inner{border:0;padding:0}
.btn_red{width:170px;background-position:0 -119px;}
.btn_orange{width:200px;background-position:-190px -119px;}
/*2015-04-10 추가*/
.btn_gray{width:129px; background-position:0 -179px; margin-right:5px;}
.btn_gray2{width:146px; background-position:-147px -179px}
.btn_crimson{width:159px; background-position:0 -230px;margin-right:10px;}
.btn_crimson2{width:186px; background-position:-179px -230px;}
.btn_crimson3{width:129px; background-position:0 -281px;}
.btn_crimson4{width:146px; background-position:-147px -281px;}
.btn_crimson5{width:243px; height:46px; line-height:46px !important; background-position:0 -332px; font-size:17px !important; font-weight:normal; }
.btn_crimson6{width:210px; height:40px; line-height:40px !important; background-position:0 -400px; font-size:17px !important; font-weight:normal; }
.btn_crimson7{width:210px; height:40px; line-height:40px !important; background-position:0 -455px; font-size:17px !important; font-weight:normal; }
.btn_crimson5 + .btn_crimson5{margin-left:40px;}
.btn_crimson7 + .btn_crimson6{margin-left:40px;}

/*고객센터*/
.customer{background:url(//image.bshopping.co.kr/webMain/bg_customer.jpg) no-repeat right 0;}
.customer #footer{position:absolute;top:auto;bottom:0;left:0;}
.customer .centerZone h2{padding-bottom:23px;text-align:left;}
.customer .contents{margin-top:-315px;}
.customer .whiteZone .faqZone{overflow:hidden;height:360px;text-align:left;background-image:url(//image.bshopping.co.kr/webMain/customer_faq_bg.png);background-repeat:no-repeat;background-position:top right;}
.customer .whiteZone .faqZone .list{float:left;width:570px;}
.faqZone .list ul.tab{float:left;width:121px;}
.faqZone .list ul.tab li{width:121px;height:36px;background-image:url(//image.bshopping.co.kr/webMain/customer_faq_tab.png);background-repeat:no-repeat;background-position:0 -36px;}
.faqZone .list ul.tab li.active{background-position:-121px -36px;}
.faqZone .list ul.tab li.first{background-position:0 0;}
.faqZone .list ul.tab li.first.active{background-position:-121px 0;}
.faqZone .list ul.tab li.last{background-position:0 -72px;}
.faqZone .list ul.tab li.last.active{background-position:-121px -72px;}
.faqZone .list ul.tab li a{display:block;padding:7px 0 11px 16px;color:#888;font-size:14px;font-weight:bold;letter-spacing:-1px;word-spacing:-1px;cursor:pointer;}
.faqZone .list ul.tab li.active a{color:#fff;}
.faqZone .list ul.faqList{overflow:hidden;padding:1px 1px 0;}
.faqZone .list ul.faqList li{overflow:hidden;position:relative;padding:7px 30px 10px 50px;color:#555;font-size:13px;letter-spacing:-1px;word-spacing:-1px;cursor:pointer;text-overflow:ellipsis;white-space:nowrap;border-top:1px solid #f0f0f0;}
.faqZone .list ul.faqList li span[class^="num"]{position:absolute;top:7px;left:20px;width:21px;height:21px;text-indent:-9999px;background-image:url(//image.bshopping.co.kr/webMain/customer_faq_num.png);background-repeat:no-repeat;}
.faqZone .list ul.faqList li.first{padding-top:6px;border-top:0;}
.faqZone .list ul.faqList li.first span[class^="num"]{top:6px;}
.faqZone .list ul.faqList li.active{color:#e0002a;}
.faqZone .list ul.faqList li span.num01{background-position:0 0;}
.faqZone .list ul.faqList li.active span.num01{background-position:-21px 0;}
.faqZone .list ul.faqList li span.num02{background-position:0 -36px;}
.faqZone .list ul.faqList li.active span.num02{background-position:-21px -36px;}
.faqZone .list ul.faqList li span.num03{background-position:0 -72px;}
.faqZone .list ul.faqList li.active span.num03{background-position:-21px -72px;}
.faqZone .list ul.faqList li span.num04{background-position:0 -108px;}
.faqZone .list ul.faqList li.active span.num04{background-position:-21px -108px;}
.faqZone .list ul.faqList li span.num05{background-position:0 -144px;}
.faqZone .list ul.faqList li.active span.num05{background-position:-21px -144px;}
.faqZone .list ul.faqList li span.num06{background-position:0 -180px;}
.faqZone .list ul.faqList li.active span.num06{background-position:-21px -180px;}
.faqZone .list ul.faqList li span.num07{background-position:0 -216px;}
.faqZone .list ul.faqList li.active span.num07{background-position:-21px -216px;}
.faqZone .list ul.faqList li span.num08{background-position:0 -252px;}
.faqZone .list ul.faqList li.active span.num08{background-position:-21px -252px;}
.faqZone .list ul.faqList li span.num09{background-position:0 -288px;}
.faqZone .list ul.faqList li.active span.num09{background-position:-21px -288px;}
.faqZone .list ul.faqList li span.num10{background-position:0 -324px;}
.faqZone .list ul.faqList li.active span.num10{background-position:-21px -324px;}
.customer .whiteZone .faqZone .view{float:right;width:355px;padding:20px 15px 30px 40px;}
.faqZone .view .question{position:relative;min-height:18px;margin-bottom:15px;padding-left:25px;color:#555;font-size:14px;font-weight:bold;letter-spacing:-1px;word-spacing:-1px;}
.faqZone .view .question span{position:absolute;top:2px;left:0;width:13px;height:18px;text-indent:-9999px;background-image:url(//image.bshopping.co.kr/webMain/ico_web.png);background-repeat:no-repeat;background-position:-420px -130px;}
.faqZone .view .answer{position:relative;padding-left:25px;color:#555;font-size:12px;letter-spacing:-1px;word-spacing:-1px;}
.faqZone .view .answer span{position:absolute;top:2px;left:0;width:16px;height:18px;text-indent:-9999px;background-image:url(//image.bshopping.co.kr/webMain/ico_web.png);background-repeat:no-repeat;background-position:-444px -130px;}
.customer .whiteZone .centerZone .tel{margin-top:16px;color:#666;text-align:right;font-size:14px;}
.customer .whiteZone .centerZone .tel span{color:#333;font-weight:bold}

.bi{background:url(//image.bshopping.co.kr/webMain/bg_bi.jpg) no-repeat right 0;}
.bi #footer{position:absolute;top:auto;bottom:0;left:0;}
.bi .centerZone h2{padding:81px 0 23px;text-align:left;}
.bi .lCont{width:432px;margin-right:32px;}

/*sub page 경우*/
#sub{height:100%}
#sub body{height:100%;}
#sub .wrapper{height:100%;  background:none;}
#sub .container{min-height:100%; background:none; margin:-60px 0 0 0}
#sub h2{position:fixed; width:100%; z-index:5; background:url(//image.bshopping.co.kr/webMain/bg_etc.jpg) no-repeat center 0; font-size:36px; line-height:1.2em; height:177px}
#sub h2 span{position:absolute; left:50%; top:0; padding:110px 0 23px; height:43px; margin-left:-490px; width:980px}
#sub #container{position:relative; z-index:10;  width:100%; padding:60px 0 76px;}
#sub #container .term_sec{padding:110px 0 50px; background:#fff; margin-top:117px}
#sub #container .term_sec .box{width:980px; margin:0 auto}
#sub #footer{position:relative ;z-index:10; margin-top:-76px}


/*개인정보취급방침*/
.term_sec h3{margin-bottom:5px;color:#555;font-size:0.923rem;}
.term_sec dl dt{padding-top:10px;color:#555;font-size:0.923rem;font-weight:bold;}
.term_sec dl dd{padding-top:5px;color:#666;font-size:0.846rem;}
.term_sec dl dd ul{overflow:hidden;}
.term_sec dl dd ul li{padding:0 0 10px;}
.term_sec p{padding-bottom:5px;color:#666;font-size:0.846rem;}
.term_sec p span{vertical-align:top;}
.term_sec p a{color:#666;font-size:0.9rem;}
.term_sec dl dd .text1{padding-left:14px;color:#666;font-size:0.846rem;text-indent:-14px;}
.term_sec dl dd .text2{padding-bottom:3px;padding-left:6px;color:#666;font-size:0.846rem;text-indent:-6px;}
.term_sec dl dd .text2_b{padding-top:3px;padding-bottom:3px;padding-left:6px;color:#666;font-size:0.846rem;text-indent:-6px;font-weight:bold;}
.term_sec dl dd .text3{padding-left:10px;color:#666;font-size:0.846rem;text-indent:-10px;}
.term_sec .partner_all{color:#00f; text-decoration:underline}

.pd_left10{padding-left:10px;}
.pd_left12{padding-left:12px;}
.pd_left15{padding-left:15px;}

.term_sec .date{margin-top:20px;padding:12px 15px;border:1px solid #f6f8fa;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;background:#f9f9f9;}
.term_sec .date p{margin:0;padding:0;color:#444;font-size:0.923rem;font-weight:bold;text-align:center; line-height:1.0em}
.term_sec .date p span{position:relative;margin-left:12px;padding-left:10px;font-weight:normal; border-left:1px solid #ddd}
.term_sec .date p span em{font-size:0}

.colTable table{width:100%; border:1px solid #eee;}
.colTable table thead tr th{text-align:center;}
.colTable table thead tr th p{padding:7px 0;color:#555;font-size:0.923rem;border-top:1px solid #eee;border-left:1px solid #eee;border-bottom:1px solid #eee;background:#f9f9f9;}
.colTable table thead tr th:first-child p{border-top-left-radius:3px;-webkit-border-top-left-radius:3px;-moz-border-top-left-radius:3px;border-bottom-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-bottom-left-radius:3px;}
.colTable table thead tr th:last-child p{border-right:1px solid #eee;border-top-right-radius:3px;-webkit-border-top-right-radius:3px;-moz-border-top-right-radius:3px;border-bottom-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-bottom-right-radius:3px;}
.colTable table tbody tr th{padding:6px 0 3px;color:#555;font-size:0.923rem;text-align:center;border-bottom:1px solid #eee;vertical-align:top;}
.colTable table tbody tr td{padding:10px;border-bottom:1px solid #eee;border-left:1px solid #eee;vertical-align:top;}
.colTable table tbody tr th p{padding-top:3px;}
.colTable table tbody tr td p{padding-top:3px;}

.partner_tit{font-size:1.391rem; text-align:center;padding:10px 0;}
.zoom_close.par{top:5px; right:5px}
.colTable2{border-top:2px solid #555; margin-bottom:5px}
.colTable2 table{width:100%;}
.colTable2 table tbody tr td{padding:7px 10px 7px; border-right:1px solid #eee; border-bottom:1px solid #eee; font-size:0.923rem; word-break:break-all;}
.colTable2 table tbody tr td:first-child{border-left:1px solid #eee}

.term_sec .provision_box{border:1px solid #d4d4d4; padding:10px; margin-bottom:15px}
.term_sec .provision_box ol{overflow:hidden}
.term_sec .provision_box ol li{float:left; width:50%; line-height:170%}
.term_sec .provision_box a{color:#666;font-size:13px; text-decoration:underline}

.term_sec .policy_box{overflow:hidden; border:1px solid #d4d4d4; padding:10px}
.term_sec .policy_box a{float:left; width:50%; color:#666; font-size:13px; text-decoration:underline; line-height:170%}

/*약관 버전별리스트*/
.version_list{width:980px; margin:50px auto 0}
.version_list table{width:100%; border-top:1px solid #ddd;}
.version_list table th, .version_list table td{border-bottom:1px solid #ddd; padding:7px 0;}
.version_list table th{background:#f9f9f9; font-size:0.923rem;}
.version_list table td{padding-left:10px;  font-size:0.846rem}
.version_list table td:first-child + td{padding-left:0; text-align:center}
.version_list table .now_ver td{font-weight:bold}
.version_list .btn_ver_more{margin-top:20px; padding:0; margin:10px 0 0 0; border:0; width:100%; height:38px; font-size:1.231rem; color:#fff;  background:#969696; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}







