.skip_nav {position:relative;}
.skip_nav a {position: absolute; top: -40px; left: 0; width: 138px; border: 1px solid #fff; background: #fff; text-align: center; text-indent:-999px;}
.container {min-width:1200px;}
.inner{width:1200px;margin:0 auto;}
.posR{position:relative;}
.txtRed {color:#e0002a;}
.logo{margin:18px auto 0;text-align:center;}
.contact_box{overflow:hidden; position:absolute;top:38px;right:24px;}
.contact_box span a{color:#666;font-size:14px;}
.contact_box span {float:left;}
.contact_box span:first-child {position:relative; padding-right:21px;}
.contact_box span:first-child:after {content:''; position:absolute; top:4px; right:10px; width:1px; height:10px; background-color:#888;}
.gnb{min-width:1200px; margin-top:17px;border-top:1px solid #e5e5e5; text-align:center;}
.gnb ul{overflow:hidden; display:inline-block; width:auto;}
.gnb ul li{float:left;color:#222;font-size:18px;line-height:59px;}
/*.gnb ul li:first-child{padding-left:164px;}*/
.gnb ul li a{display:block;padding:0 37px;}
.gnb ul li:hover{color:#e62642;}
.snb{display:none; min-width:1200px; border-top:1px solid #e5e5e5;position:absolute;background:#fff;width:100%; text-align:center; z-index:2;}
.snb .inner{overflow:hidden; display:inline-block; width:auto; margin-top:30px; margin-left:78px; padding-bottom:23px; background-color:#fff;}/* 2차 오픈일때 편성표 추가로 들어갈시 마진레프트 값을 170px로 변경 */
.snb ul{float:left; width:146px;}
.snb ul:first-child {margin-left:0;}
#depth1 {width:761px; margin:0px auto;}
#depth1 {width:761px; margin:0px auto;}
/*.snb ul.snb_01{margin-left:203px;}*/
.snb ul.snb_02 {}
.snb ul.snb_03 {}
.snb ul.snb_04 {width:174px;}
.snb ul.snb_05{}
.snb ul li{font-size:16px;padding:10px 0; text-align:left;}
.snb ul li:hover{color:#e62642;}
.snb ul a{display:block;}
.snb .video{float:left; margin-top:10px;}
.visualText{position:absolute;top:0;left:0;width:100%;text-align:center;letter-spacing:-2px;}
.visualText .title{margin-top:7.8%;color:#fff;font-size:60px;line-height:70px; font-weight:bold;}
.visualText .text{margin-top:1.6%;color:#fff;font-size:20px;line-height:28px;}
.shopping{overflow:visible;background:#e9e3e2;height:570px;}
.mobile_box{float:left;width:50%;height:100%;position:relative; background:url(//image.bshopping.co.kr/webMain/main/img_mobile_re.png) no-repeat right 12px top 82px;}
.mobile{position:absolute;right:0;margin-top:-100px;margin-right:12px;width:564px;height:565px;background:#fff;}
.barcode_box{overflow:hidden;position:absolute;top:88px;right:5px;z-index:15;}
.barcode_box li{float:left;}
.tv_box{float:right;width:50%;height:100%;position:relative; background:url(//image.bshopping.co.kr/webMain/main/img_tv_re.png) no-repeat left 117px top 22px;}
.tv{position:absolute;left:0;margin-top:-100px;margin-left:12px;width:564px;height:565px;background:#fff;}
.shopping h2{margin:45px 0 0 50px;color:#e62642;font-size:34px;}
.shopping p{margin:20px 0 0 50px;color:#666;font-size:16px;line-height:26px;}
.box_bg{position:absolute;z-index:10;}
.mobile_box .box_bg{right:12px;bottom:10px;}
.tv_box .box_bg{left:104px;bottom:7px;}
.contents{margin-top:90px;}
.contents>ul{width:100%;overflow:hidden;margin-left:24px;padding-bottom:80px;}
.contents>ul>li{float:left;box-shadow:16px 19px 25px rgb(249, 249, 249)}
.contents01{width:368px;margin-right:24px;height:760px;}
.contents02{width:368px;height:368px;margin-right:24px;vertical-align:top;}
.contents03{width:368px;height:368px;}
.contents04{width:760px;background:#e62642;height:368px;margin-top:24px;}
.contents_inner{margin:0 30px;}
.list_title_box{overflow:hidden;margin-top:30px;}
.list_title{float:left;color:#e62642;font-size:16px;line-height:40px;}
.the_see{float:right;}
.the_see a{display:inline-block;width:40px;height:40px;text-indent:-9999em;background:url(//image.bshopping.co.kr/webMain/main/btn_bullet01.png) 50% 50% no-repeat;border:1px solid #e5e5e5;box-sizing:border-box;}
.title{margin-top:25px;font-size:24px;color:#222;line-height:34px;}	
.text{width:100%;height:108px;margin-top:15px;font-size:15px;color:#888;line-height:25px;overflow:hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;}
.day{margin-top:40px;font-size:15px;color:#888;}
.contents03 .day{margin-top:20px;padding-bottom:20px;border-bottom:1px solid #e5e5e5;}
.notice_title {height:68px; overflow:hidden;}
.board_list{width:100%;margin-top:12px;}
caption{display:none;}
.board_list td{line-height:28px;font-size:15px;color:#888;}
.board_list td.board_text a{display:block;width:210px;overflow:hidden;white-space:nowrap;word-wrap:normal;}
.board_list td.board_date{text-align:right;}
.contents04 .list_title{color:#fff; font-weight:normal;}
.contents04 .the_see a{background:url(//image.bshopping.co.kr/webMain/main/btn_bullet02.png) 50% 50% no-repeat;border:1px solid #e17e8c;}
.list_icon{overflow:hidden;margin-top:33px;border:1px solid #e56174;}
.list_icon li{float:left;color:#fff;}
.list_icon li a{text-align:center;display:inline-block;font-size:14px;padding-top:63px;width:100px;height:100px;border-right:1px solid #e56174;box-sizing:border-box;}
.list_icon li.bdr0 a{border-right:0;width:98px;}
.list_icon li.bdb1{border-bottom:1px solid #e56174;}
.list_icon01{background:url(//image.bshopping.co.kr/webMain/main/icon_product01.png) 50% 24px no-repeat;}
.list_icon02{background:url(//image.bshopping.co.kr/webMain/main/icon_product02.png) 50% 24px no-repeat;}
.list_icon03{background:url(//image.bshopping.co.kr/webMain/main/icon_product03.png) 50% 24px no-repeat;}
.list_icon04{background:url(//image.bshopping.co.kr/webMain/main/icon_product04.png) 50% 24px no-repeat;}
.list_icon05{background:url(//image.bshopping.co.kr/webMain/main/icon_product05.png) 50% 24px no-repeat;}
.list_icon06{background:url(//image.bshopping.co.kr/webMain/main/icon_product06.png) 50% 24px no-repeat;}
.list_icon07{background:url(//image.bshopping.co.kr/webMain/main/icon_product07.png) 50% 24px no-repeat;}
.list_icon08{background:url(//image.bshopping.co.kr/webMain/main/icon_product08.png) 50% 24px no-repeat;}
.list_icon09{background:url(//image.bshopping.co.kr/webMain/main/icon_product09.png) 50% 24px no-repeat;}
.list_icon10{background:url(//image.bshopping.co.kr/webMain/main/icon_product10.png) 50% 24px no-repeat;}
.list_icon11{background:url(//image.bshopping.co.kr/webMain/main/icon_product11.png) 50% 24px no-repeat;}
.list_icon12{background:url(//image.bshopping.co.kr/webMain/main/icon_product12.png) 50% 24px no-repeat;}
.list_icon13{background:url(//image.bshopping.co.kr/webMain/main/icon_product13.png) 50% 24px no-repeat;}
.list_icon14{background:url(//image.bshopping.co.kr/webMain/main/icon_product14.png) 50% 24px no-repeat;}
.video02{margin:0 auto 80px; position:relative;}
.video02 img{width:100%;}
.video02 .title{margin-top:6.2%;font-size:50px;}
.video02 .text{margin-top:0.3%;font-size:16px;}
.playBox{position:absolute;top:52.5%;left:50%;}
.playBox button{margin-left:-60px;width:120px;height:120px;text-indent:-9999px;background:none;background:url(//image.bshopping.co.kr/webMain/main/icon_play.png) 50% 0 no-repeat;}
.suggestion{}
.suggestion ul{overflow:hidden;margin:0 auto;width:870px;}
.suggestion li{float:left;text-align:center;font-size:20px;color:#444;line-height:24px;}
.suggestion li a{display:block;width:160px;padding:170px 65px 0;}
.suggestion li.faq{background:url(//image.bshopping.co.kr/webMain/main/icon_faq.png) 50% 0 no-repeat;}
.suggestion li.suggestion01{background:url(//image.bshopping.co.kr/webMain/main/icon_suggestion.png) 50% 0 no-repeat;}
.suggestion li.suggestion02{background:url(//image.bshopping.co.kr/webMain/main/icon_suggestion02.png) 50% 0 no-repeat;}

.footer{margin:90px 0px 0px 0px !important;border-top:1px solid #e5e5e5 !important; height:205px !important; width:100% !important;}
.footer .inner{overflow:hidden !important;}
.footer h1{float:left !important;margin-top:61px !important;}
.footer .text_box{float:left !important;margin-top:30px !important;margin-left:60px !important;}
.footer .text01 span a{padding-right:30px !important;font-size:14px !important;color:#222 !important;}
.footer .text02{margin-top:20px !important;color:#888 !important;font-size:14px !important;line-height:20px !important;}
address{margin-top:10px !important;color:#888 !important;font-size:14px !important;line-height:20px !important; font-style:normal !important;}  /* font-style 추가 - 17.11.23 */

.visualWrap .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {bottom:160px;}

.visualWrap {position:relative;}
.visualWrap .sliderWrap {}
.visualWrap .sliderWrap img {width:100%; height:auto;}
.visualWrap .whiteBoxWrap {height:568px; background-color:#e9e3e2;}
.visualWrap .whiteBoxWrap > div {position:relative; width:50%; min-width:588px; height:564px; float:left; z-index:2;}
.visualWrap .whiteBoxWrap .whiteBox {overflow:hidden;  height:564px; margin-top:-100px;}
.visualWrap .whiteBoxWrap .whiteBox > div {float:right; width:564px; height:100%; margin-left:0; margin-right:12px; background-color:#fff;}
.visualWrap .whiteBoxWrap > div + div .whiteBox > div {float:left; margin-right:0; margin-left:12px;}
.whiteBox h2{margin:45px 0 0 50px;color:#e62642;font-size:34px;}
.whiteBox p{margin:20px 0 0 50px;color:#666;font-size:16px;line-height:26px;}
.whiteBox .whiteBg {position:absolute; width:100%; height:100%; top:0; right:12px; text-indent:-9999px; background-image:url(//image.bshopping.co.kr/webMain/main/img_mobile_re.png); background-repeat:no-repeat; background-position:right bottom;}
.whiteBoxWrap > div + div .whiteBox .whiteBg {margin-top:28px; background:url(//image.bshopping.co.kr/webMain/main/img_tv_re.png) no-repeat 116px 0;}

.ui-slide-banner{position:relative;overflow:hidden; min-width:1200px;}
.ui-slide-mask{overflow:hidden;height:620px;}
.ui-slide-banner-list{height:620px;}
.ui-slide-banner-list-item{float:left; width:100%;position:relative; text-align:center;}
.ui-slide-banner-list-item a{display:block;height:100%;position:relative;}
.ui-slide-shortcut{width:100%;text-align:center;position:absolute;z-index:3;bottom:160px;left:0;padding:0px 0px;}
.ui-slide-shortcut button{width:16px;height:16px;overflow:hidden;line-height:16px;margin:0px 8px;text-align:center;;text-indent:-9999px;background:#ffffff;border:0;padding:0;cursor:pointer; background:url('//image.bshopping.co.kr/webMain/main/pager.png') no-repeat left top;}
.ui-slide-shortcut button:hover,
.ui-slide-shortcut button.on{background:url(//image.bshopping.co.kr/webMain/main/pager_on.png) no-repeat left top;}
.ui-slide-btn-group{}
.ui-slide-controller{display:none;}
.ui-slide-prev-btn{width:52px;height:100px;position:absolute;left:82px;top:210px;z-index:15;text-indent:-9999px;overflow:hidden;background:url(//image.bshopping.co.kr/webMain/main/prev.png) 0 0 no-repeat;cursor:pointer;}
.ui-slide-next-btn{width:52px;height:100px;position:absolute;right:82px;top:210px;z-index:15;text-indent:-9999px;overflow:hidden;background:url(//image.bshopping.co.kr/webMain/main/next.png) right 0 no-repeat;cursor:pointer;}

.under_area {width:100%; min-height:100%; min-width:1200px;}
.under_area .undertop {height:46.3%; width:100%; background:#f1ebea; position:absolute; z-index:1;}
.under_area .underimgwrap {position:absolute; left:50%; top:50%; width:1199px; height:524px; margin-top:-262px; margin-left:-590px; z-index:3;}

.whiteBox > div, .whiteBg {cursor:pointer;}