@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Noto+Sans|Roboto);
@import url(web.css);

@font-face {
	font-family: 'NotoSansKR-Regular';
	font-style: normal;
	font-weight: 100;
	src: url('font/NotoSansKR-Regular.eot');
	src:
		url('font/NotoSansKR-Regular.woff2') format('woff2'),
		url('font/NotoSansKR-Regular.woff') format('woff'),
		url('font/NotoSansKR-Regular.otf') format('opentype');
}

@font-face{
	font-family:ng;
	src:url(font/NotoSansKR-Regular.eot);
	src:local(※), url(font/NotoSansKR-Regular.woff) format(‘woff’)
}
body{font-family:'NotoSansKR-Regular',"Roboto","sans-serif",ng}

body,html {
	font-family:'NotoSansKR-Regular',"Roboto","sans-serif",ng;
	font-size:13px;
	line-height:1.4;
	letter-spacing:0;
	word-spacing:0;
	background:#fff;
}
body.openSearch,html.openSearch{overflow:hidden;}
input,select,textarea,button{
	font-family:'NotoSansKR-Regular',"Roboto","sans-serif";;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{vertical-align:top;}
a{text-decoration:none;color:inherit;}
button{padding:0;border:none;}

h1, h2 {font-weight:normal;}